@use "./base/reset";
@use "./base/fonts";
@use "./base/variables" as *;
@use "./base/mixins" as *;
@use "./base/colors" as *;

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
